#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
} 

.time-container {
  background-color: black;
  border: 1px solid #90ee90;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
}

.time-container .currentTime {
  color: #90ee90;
  margin: 0;
}

.pomodoro-button {
  --background: #ffcccc;
  --color: #660000;
  border-radius: 4px;
}
